# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
env/
venv/
.venv/

# FastAPI
*.log

# Node / React
node_modules/
dist/
build/
*.log

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
